body{
	text-align: center;
}
#cont{
	margin-left: 1em;
}
#cont div{
	width: 600px;
	padding: 1em .5em;
	margin-bottom: 2em;
	outline: .1em solid #e5e3f2;
	background-color: #fff;	
	margin: auto;
}
.heart, .trash{
	margin: 1em;
	float: right;
}
.trash:hover{
	color: #1da1f2;
	cursor: pointer;
}
.red{
	color: #fc1e26;
	cursor: pointer;
}
p{
	display: inline-block;
	margin-left: .5em;
}
.img{
	background-image: url(../imagenes/instagram-gif-1.gif);
	background-position: center;
	background-size: 710px 264px;
	padding: 150px;
	background-repeat: no-repeat;
}
.strike-out{
	text-decoration: line-through;
	color: #1da1f2;
}
.imgLogo{
	width: 150px;
}
textarea{
	width: 600px;
	padding: 1em .5em;

	outline: .1em solid #e5e3f2;
	background-color: #fff;
	display: inline-block;
}
button{
	background-color: #0066cc;
	border-radius: 2px;
	padding: 10px;
	border:none;
	color: #fff;
	display: block;
	margin:auto;
	margin-bottom: 10px;
}
label{
	color:#ff0000;
	display: block;
	margin-bottom: 10px;
	text-align: left;
	margin-left: 27%;
	display: none;
}




